*{  /*stylis all the elements*/
    padding: 0;
    margin: 0;
    text-decoration: none;  /*takes outs under line from the lists*/
    list-style: none;  /* takes outs the dots   */
    box-sizing: border-box; /* *all elements are sized in this more intuitive way */
  }
  
  body{
    font-family: montserrat;
  }

  .kicker{
  position: absolute;
  z-index: 2;
  text-align: center;
  color: #fff;
  top: 40%;
  left: 0;
  right: 0;
      font-size: 300%;
  
}

  .navigationBar{
    background:#000000;  /* the navigation bar*/
    height: 130px;
    width: 100%;
    position: fixed;
    z-index: 101;
    opacity: 0.7;
  }
  
  label.topLogo{
    padding-left:100px;  /* style of logo*/
  }
  
  .navigationBar ul{
    float: right;               
    margin-right: 40px;  /*list right side of the nav with margin 20px right*/
  }
  
  .navigationBar ul li{
    display: inline-block;  /* display list items horizontally instead of vertically */ 
    line-height: 130px; /* space between two lines. In this case top and the nav options  is 80px beacuse it fits perfectly in middel.  */
    margin: 0 5px; /* top and bottom margins are 0px and right and left are 5px*/
  }
  
  .navigationBar ul li a{      /* easear to find what i am styling */
    color: white;
    font-size: 15px;  /*options on the nav bar.*/
    padding: 10px 13px;
    border-radius: 3px;
    text-transform: uppercase;  /*capitel letters */
  }
  a.active, a:hover{
    background: #466a75; /*when you hover over a option. transforms in 0.5 sec. */
    transition: .5s;
  }
  
  .checkbtn{
    font-size: 30px;   /*for the check button */
    color: white;
    float: right;
    line-height: 80px; /*so that it in the middel */
    margin-right: 40px;
    cursor: pointer;
    display: none;  /* the nav doesn't meny doesn't show up  */
  }
  
  #check{
    display: none;  /*the check mark doens't show up */
  }
  
  
  
  @media (max-width: 952px){  /*second level of repoens*/
    label.topLogo{
      font-size: 25px;
      padding-left: 45px;  /*Everythin in the nav becomes a litte smallerl looks better */
    }
    .navigationBar ul li a{
      font-size: 15px;
    }
      
        .fixed-bg {
    min-height: 700px;  /*change of size of background pic */
    }
      div.hi-z{
          width:100%; /*Change the size of every thing to match the site*/
          padding-bottom: 600px;
          padding-left: 0px;
          padding-top: 200px;
          
           background: rgba(0, 39, 54, 0.2);
      }
      
      
  }
  
  
  
  @media (max-width: 850px){  /*third level*/
    .checkbtn{
      display: block;   /* the 3line bars showes up when the sites width gets smaller the 850px  */
      line-height: 130px;
    }
   .navigationBar ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #0c0d0e;
      top: 130px;
      left: -100%; /*The list doesn't show up at the begenning it is hidden in the left side of the screen */
      text-align: center;
      transition: all .5s; /*the transition of meny coming from the left to right takes 0.5s */
    }
   .navigationBar ul li{
      display: block;  /*displays in a bloxk type view under each other */
      margin: 50px 0;
      line-height: 30px;
    }
  .navigationBar ul li a{
      font-size: 20px;  /*size of the texts  */
    }
   a:hover, a.active{
      background: none;  /* so now it doesn't have any background. So when you hover over only the text changes color */
      color: #000233;
    }
    #check:checked ~ ul{
      left: 0; /*when you check/click the three line bar the meny comes from the left -100% becomes 0%. os now it is in the right place */
    }
      
      .kicker{
          font-size: 200%;
      }
     
  }
  
  
  
  .fixed-bg {
      background-image: url("https://onclickwebdesign.com/wp-content/uploads/main-slider-3.jpg"); /*background picture */
      min-height: 800px;  /*minimum height*/
      background-attachment: fixed;  /* The background image will not scroll with the page */
      background-position: center center;
      background-repeat: no-repeat; 
      background-size: cover;
     
  }
  
 
  
  
  
  .hi-z {
      color: white;  /*Applies to every thing beside the backgroungd pic  */  
      text-align: left;
      width: 100%;
      padding-top: 520px;
      padding-left: 0px;
      padding-bottom: 280px;
      background: rgba(114, 114, 114, 0.2); /*A little transparent*/
  
  }
  
  
  
  
  
  
  .mid{
      width: 100%;
      height: 600px;
      background-color: #dbdbdb;
      text-align: center;
      padding-top: 80px;
      padding-bottom: 3%;
      margin-bottom: 8%;
  }
  
  .mid i{
      padding-bottom: 2%;
  }
  
  .mid p{
      padding-bottom: 1%;
      font-size: 150%;
  }
  
  .mid .name{
      font-size: 280%;
  }
  
  .date{
      font-weight: bold;
      padding-bottom: 30px;
  }
  
  .Button{
      padding: 10px;
      background-color: #003345;
     
      color:white;
  }
  .last{
      padding-top: 30px;
  }
  
  
  
  
  .footer {
    text-align: center;
    padding: 1%;
    background-color: grey;
    margin-top: 30px;
  }